@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: 'Raleway', sans-serif;
}

#wrapper, #header, .ws-menu, .wsCellSplitterV, .wsCellSplitterH, .dialogNavBar, #footer {
    background-color: #1f1f1f !important;
	
}

#header, #footer, #header a {
	color: white !important;
}

.account-list-item {
	background: none !important;
	padding-left: 0px !important;
}

#zC_WsWiCot3938811d8f {
	width: min-content !important;
}

#headerMenuList, #quickMenu *, .workspace, #header .cell-title .client {
	display: none !important;
}

#header.button {
	height: 50px !important;
}